.container {
  text-align: center;
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color:#2b3d52;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color:#2b3d52
}

.cardImg {
  float: right;
}

.articleImg{
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 150%
}

.navBrand:hover {
  color: #2b3d52;
  background-color: #fff;
}