.container {
  text-align: center;
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color:#2b3d52;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
}

#articleSearchButton {
  background-Color:"#5fb9ce";
  color:"#fff";
}

.cardImg {
  float: right;
}

.articleImg{
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 150%;
}
.link {
  color: #2b3d52;
}

.navBrand:hover {
  background-color: #c0dcdd;
  color: #fff;
}

.link:hover {
  background-color: #c0dcdd;
  color: #fff;
}

.submitBtn:hover {
  opacity: 2;
}

.nav-bar {
  position: fixed;
}

.jumbo {
  background-image: url(./components/Jumbotron/plane.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.edhrecImg {
  height: 40%;
  width: 40%
}

.artcleH4 {
  color:#5fb9ce
}

.articleP {
  color:#2b3d52
}

.articleFiller {
  color:#fff
}

.articleHeader {
  color: #fff;
}

.homepagePage {
  text-align: center;
}

.CZImage {
  height: 40%;
  width: 40%
}

.databaseH1 {
  text-align: center;
  color: #fff;
}

.databaseCol {
  text-align: center;
}

.databaseResultH1 {
  text-align: center;
  color: #fff;
}

.databaseListItem {
  text-align: left;
}

.databaseH3 {
  text-align: center;
  color: #fff;
}

.loginLabel {
  color:#2b3d52
}